[Unit]
Description=Chromium Kiosk
After=graphical-session.target

[Service]
User=sandesh
Group=sandesh
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/your-user/.Xauthority
ExecStart=/usr/bin/chromium --noerrdialogs --kiosk --incognito https://www.embeddedone.com/
Restart=on-abort

[Install]
WantedBy=graphical-session.target
